# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=admin

# PostgreSQL
POSTGRES_USER=microservices
POSTGRES_PASS=microservices

# Grafana
GRAFANA_USER=admin
GRAFANA_PASS=admin

# Spring Cloud Config Server
CONFIG_GIT_URI=https://github.com/spring-cloud-samples/config-repo
