# Atlas Database
ATLAS_DB_USER=atlas
ATLAS_DB_PASSWORD=atlas

# Neo4j
NEO4J_PASSWORD=neo4j123

# DataHub
DATAHUB_DB_USER=datahub
DATAHUB_DB_PASSWORD=datahub
DATAHUB_ROOT_PASSWORD=datahub
DATAHUB_SECRET=YouKnowWhatToDoWithASecret

# Hive Metastore
HIVE_DB_USER=hive
HIVE_DB_PASSWORD=hive

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Data Product Database
PRODUCT_DB_USER=dataproduct
PRODUCT_DB_PASSWORD=dataproduct

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
